---
import { SOCIALS } from "@consts";
---

<ul role="list" class="flex flex-row gap-2">
    {
    SOCIALS.map((SOCIAL) => (
        <li>
            <a href={SOCIAL.HREF} class="hover:text-neutral-100 cursor-pointer text-3xl" rel="noreferrer" target="_blank">
            <i class={`bi bi-${SOCIAL.ICON}`}></i>
            </a>
        </li>
    ))
    }
</ul>
