---
import "bootstrap-icons/font/bootstrap-icons.css";

type Props = {
  wdilwm: string;
  name: string;
};

const { wdilwm, name } = Astro.props;
---

<a
  class="no-underline group flex max-w-fit cursor-pointer flex-col gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400"
  href=`/wdilwms/${wdilwm}`
  style="text-decoration: none !important;"
>
  <div
    class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center"
  >
    <p class="text-3xl"><i class="bi bi-book"></i></p>
      <p class="font-bold uppercase">What did I learn while making {name}?</p>
    </div>
  </div>
</a>
