---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PROJECTS } from "@consts";
import { formatDate } from "@lib/utils";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.isDraft)
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div>
        <div class="animate font-semibold text-black dark:text-white text-2xl">
          Projects
        </div>
        <p class="text-neutral-300">
          <span class="font-bold">{projects.length}
            </span>
              projects published since <span class="font-bold">{formatDate(projects[projects.length - 1].data.publishedAt)}
            </span>
        </p>
      </div>
      <ul class="animate not-prose gap-4 grid grid-cols-1 sm:grid-cols-2">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
